<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="css1/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="css1/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="css1/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  </head>

  <body id="reportsPage">
   
    {{>adminnavbar}}
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                 
                    <th >PRODUCT </th>
                    <th >PRICE</th>
                    <th >QTY</th>
                    <th >DATE</th>
                    <th colspan="2" >ACTION</th>
                  </tr>
                </thead>
               <tbody>
                {{#each pdata}}
                <tr>
                  <td>{{this.pname}}</td>
                  <td>{{this.price}}</td>
                   <td>{{this.qty}}</td>
                    <td>{{this.date}}</td>
                    <td ><a class="btn btn-success" href="editproduct?eid={{this._id}}">Edit</a></td>
                       <td ><a class="btn btn-danger" href="deleteproduct?did={{this._id}}">Delete</a></td>

                </tr>
                {{/each}}
               </tbody>
              </table>
            </div>
            <!-- table container -->
            <a
              href="addproductpage"
              class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
           
          </div>
        </div>
       
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2018</b> All rights reserved. 
          
          Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
      </div>
    </footer>

    <script src="js1/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js1/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
      });
    </script>
  </body>
</html>